<%- include("./header.ejs") %>
<div class="heading container-fluid container-fluid"></div>
        <div class="container">
        <div class="container">
        <h1 class="text-start ">Abdominals</h1>
        </div>
        <div class="container">
        <h2 class="pt-2">Crunches</h2>
        <p><strong>Difficolty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-crunch-front.gif">
        </div>
        <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-crunch-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Lay flat on your back with your knees bent and your feet flat on the ground, about a foot from your lower back.
                </li>
            </div>
            <div class="col-12 my-3">

                <li>Place your fingertips on your temples with your palms facing out.
                </li>
                </div>
                <div class="col-12 my-3">

                <li> Draw your belly into the base of your spine to engage the muscles, then raise your head and shoolders off the floor. Return to starting position and repeat.</li>
                </div>
            </ol>
        </div>

    </div>

        <br>
<div class="container">
        <h2>Leg Raises</h2>
        <p><strong>Difficolty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-leg-raises-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-leg-raises-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Lay on your back with your arms palms down on either side.</li>
            </div>
            <div class="col-12 my-3">

                <li>  Keep your legs together and as straight as possible.
                </li>
                </div>
                <div class="col-12 my-3">

                <li>  Slowly raise your legs to a 90° angle, pause at this position, or as high as you can reach your legs, and then slowly lower your legs back down.</li>
                </div>
                <div class="col-12 my-3">

                <li>Duration of these movements shoold be slow so that you do not utilize momentum, enabling you to get the most out of the exercise.</li>
                </div>
            </ol>
        </div>
</div>
        <br>
<div class="container">
        <h2>Plank</h2>
        <p><strong>Difficolty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-forearm-plank-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-forarm-plank-side.gif">
        </div>
        </div>

        <div class="row">
            
            <ol>
                <div class="col-12 my-3">
                <li>Place forearms on the ground with your elbows bent at a 90° angle aligned beneath your shoolders, with your arms parallel at shoolder-width.</li>
            </div>
            <div class="col-12 my-3">
                <li>Your feet shoold be together, with only your toes touching the floor.
                </li>
                </div>
                <div class="col-12 my-3">
                <li> Lift your belly off the floor and form a straight line from your heels to the crown of your head and hold.</li>
                </div>
            </ol>
        </div>
    </div>    
        <br>
<div class="container">
        <h2>Russian Twist</h2>
        <p><strong>Difficolty</strong> : Intermediate</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-dumbbell-russian-twist-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            
            <img class="w-100" src="Images/male-dumbbell-russian-twist-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Sit on the floor and flex your knees and hips to a 90 degree angle.</li>
            </div>
            <div class="col-12 my-3">
                <li>Your feet shoold be hovering off the ground. (If that's too hard start with heels on the floor)
                </li>
            </div>
            <div class="col-12 my-3">
                <li> Rotate your upper spine to engage your obliques.</li>
                </div>
            </ol>
        </div>
    </div>
</div>

<%- include("./footer.ejs") %>