<%- include("./header.ejs") %>

<div class="heading container-fluid"></div>
        <div class="container">
        <div class="container">
        <h1 class="text-start">Calves</h1>

    </div>
    <div class="container">
        <h2 class="pt-2">Calf Raises</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-calve-raise-front.gif">
        </div>
        <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-bodyweight-calve-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Balance on the balls of your feet on the platform or plates, leaning forward to use the wall to assist with balance.</li>
            </div>
            <div class="col-12 my-3">
                <li>Lower the heels of your feet towards the ground and pause, then push through the balls of your feet like you are standing tip toe, pausing at the apex of the motion.
                </li>
                </div>

                <div class="col-12 my-3">
                <li>Repeat as necessary.</li>
                </div>
            </ol>
        </div>
    </div>

        <br>
    <div class="container">
        <h2>Dumbells Calf Raises</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-dumbbell-calf-raise-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-dumbbell-calf-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Stand tall with your feet on the ground. You can put the the balls of your feet on top of a plate to extend the range of motion.</li>
                </div>
                <div class="col-12 my-3">
                <li> Imagine you have a string attached to your heels and pull your heels up toward the ceiling.</li>
                </div>
            </ol>
        </div>
</div>
        <br>
    <div class="container">
        <h2>Barbell Calf Raises</h2>
        <p><strong>Difficulty</strong> : Intermediate</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-barbell-calve-raise-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="Images/male-barbell-calve-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Place the bar on your back</li>
                </div>
                <div class="col-12 my-3">
                <li>Start with feet flat on the ground</li>
                </div>
                <div class="col-12 my-3">
                <li> Extend your heels upwards while keeping your knees stationary, and pause at the contracted position.</li>
                </div>
                <div class="col-12 my-3">
                <li> Slowly return to the starting position. Repeat.
                </li>
                </div>
            </ol>
        </div> 
    </div>

<%- include("./footer.ejs") %>