<%- include ("./header.ejs") %>

<div class="container my-5">
    <h1 class="text-center mb-4">Products</h1>
    <div class="row">

        <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/nike0.png" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Giannis Freak 6 EP</h5>
            <p class="card-text">Giannis needs a shoe to dominate the modern positionless game. That's why we've upgraded the traction pattern on the Giannis Freak 6.</p>
            <p class="card-text"><strong>MRP : ₹ 11 895.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/nike1.png" class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Giannis Freak 5 SE 'Hometown Hero'</h5>
            <p class="card-text">Giannis's superpower-like abilities are on full display every time he steps on the court. But to play his best, he needs a shoe that can harness his powers.</p>
            <p class="card-text"><strong>MRP : ₹ 8 195.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/nike2.png" class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Nike Sportswear Phoenix Fleece</h5>
            <p class="card-text">Grounded in style, comfort and versatility, meet our take on luxury loungewear. This voluminous top merges the best of both comfort and structure by combining our cosy.</p>
            <p class="card-text"><strong>MRP : ₹ 4 295.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/nike3.png" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Nike Sportswear Phoenix Fleece</h5>
            <p class="card-text">Women's Slim Mini Skirt,Grounded in style, comfort and versatility, meet our take on luxury loungewear,And the best part? It has pockets!</p>
            <p class="card-text"><strong>MRP : ₹ 3 295.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/puma0.avif" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Scuderia Ferrari Varsity Men's Motorsport Jacket.</h5>
            <p class="card-text">This iconic piece embodies the spirit of one of the most prestigious teams in the world, combining a passion for innovation.</p>
            <p class="card-text"><strong>MRP : ₹ 14 999.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

    <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/puma1.avif" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">FUTURE 7 ULTIMATE Unisex Football Boots</h5>
            <p class="card-text">Playmakers, lock into the FUTURE. These boots feature a re-engineered upper which combines PWRPRINT and PWRTAPE with extra stretchy knit and soft dual mesh.</p>
            <p class="card-text"><strong>MRP : ₹ 19 999.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

    <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/puma2.avif" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Core Up Minime Women's Backpack</h5>
            <p class="card-text">Be ready for an adventure with the Core Up Minime Backpack. Made from premium PU leather with multiple compartments to stash your essentials.</p>
            <p class="card-text"><strong>MRP : ₹ 1 239.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>

    <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/protien.jpg" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Optimum Nutrition Whey Protein Powder</h5>
            <p class="card-text">Optimum Nutrition (ON) Gold Standard 100% Whey Protein Powder 1.7 Kg (Double Rich Chocolate),Primary Source Whey Isolate.</p>
            <p class="card-text"><strong>MRP :  ₹ 5 609.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>
    
    <div class="col-md-4 mb-4">
        <div class="card product-card">
          <img src="/images/bag.jpg" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">MuscleBlaze Hybrid Gym Standard Backpack</h5>
            <p class="card-text">VERSATILE DUFFLE CUM BACKPACK: MuscleBlaze Hybrid Gym Bag has a unique design that is perfect for a gym bag or a travel bag.</p>
            <p class="card-text"><strong>MRP : ₹ 1 099.00</strong></p>
            <a href="#" class="btn btn-dark">BUY</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include ("./footer.ejs") %>