<%- include("./header.ejs") %>

<div class="heading container-fluid"></div>
    <div class="container">
        <h1 class="text-start">Traps (Mid-Back)</h1>
        </div>

    <div class="container">
    <h2 class="pt-2">Pull Ups</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-bodyweight-pullup-front.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-bodyweight-pullup-side.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Grasp the bar with an overhand grip, arms and shoulders fully extended.</li>
            </div>
            <div class="col-12 my-3">
            <li>Pull your body up until your chin is above the bar.</li>
            </div>
            <div class="col-12 my-3">
            <li>Lower your body back to starting position.</li>
            </div>
        </ol>
    </div>
    </div>

    <br>

    <div class="container">
    <h2>Elevated Pike Press</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images\Elevated Pike Press.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images\Elevated Pike Press Side.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Use a bench or an object to elevate your feet.</li>
            </div>
            <div class="col-12 my-3">
            <li>Lower your head by bending your elbows towards the floor</li>
            </div>
            <div class="col-12 my-3">
            <li>Push through your hands and reach the starting pike position</li>
            </div>
            <div class="col-12 my-3">
            <li>Repeat</li>
            </div>
        </ol>
    </div>
</div>
    <br>

    <div class="container">
    <h2>Dumbbell Row Unilateral</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-dumbbell-row-unilateral-front.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-dumbbell-unilateral-row-side.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Brace your off arm against something stable (bench, box). Stagger your stance so your leg on the side of your working arm is back.</li>
            </div>
            <div class="col-12 my-3">
            <li> Try to get your torso to parallel with the ground. That will extend your range of motion.</li>
            </div>
            <div class="col-12 my-3">
            <li> Let your arm hang freely and then pull your elbow back. Imagine you've got a tennis ball in your armpit and squeeze it each rep.</li>
            </div>
        </ol>
    </div>
    </div>

    <br>
    
    <div class="container">
    <h2>Bent Over Barbell Row</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-barbell-bent-over-row-front.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="Images/male-barbell-bent-over-row-side.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Grab a barbell with a shoulder width pronated or supinated grip.</li></div>
            <div class="col-12 my-3">
            <li>Bend forward at your hips while maintaining a flat back.</li>
            </div>
            <div class="col-12 my-3">
            <li>Pull the weight toward your upper abdomen.</li>
            </div>
            <div class="col-12 my-3">
            <li>Lower the weight in a controlled manner and repeat.</li>
            </div>
        </ol>
    </div>
    </div>
</div>

<%- include("./footer.ejs") %>